# Django
Django==4.0.2 # https://github.com/django/django
djangorestframework==3.13.1 # https://github.com/encode/django-rest-framework


pytz==2022.1 # https://pypi.org/project/pytz/

# Formatters
black==22.1.0 # https://github.com/psf/black

pre-commit==3.2.1 # https://pypi.org/project/pre-commit/
sphinx==6.1.3 # https://pypi.org/project/Sphinx/
furo==2023.3.27 # https://pypi.org/project/furo/